@charset "UTF-8";



//=================================================================
//  FULL SCREEN BLOCK
//=================================================================

.fullScreenBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(90% * .8);
  height: 60vh;
  padding: 15%;
  font-weight: 400;
  color: $primaryBG;
  background-color: $primaryContent;

  @include respond-to("medium") {
    font-size: 1.5rem;
    line-height: 1.45833;
  }

  @include respond-to("large") {
    width: calc(90% * .6);
    padding: 10%;
  }
}

.fullScreenBlock__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
