@charset "utf-8";



//=================================================================
//  VARIABLES
//=================================================================

//-----------------------------------------------------------------
// Asset Paths
$path-img: "../img";
$path-font: "../fonts";


//-----------------------------------------------------------------
// Media Querie Breakpoints
$breakpoints: (
  "small"   : 30em,
  "medium"  : 40em,
  "large"   : 56em,
  "xlarge"  : 75em
);


//-----------------------------------------------------------------
// Colors
$primaryLink: #f25405;
$primaryContent: #000;
$lightContent: #a0a4a3;
$primaryBG: #fff;
$darkBG: #6d7170;
$lightBG: #e6e6e6;
