@charset "utf-8";



//=================================================================
//  VARIABLES
//=================================================================

//-----------------------------------------------------------------
// Asset paths

$path-img  : "../img";
$path-font : "../fonts";

//-----------------------------------------------------------------
// Colors

$primaryLink: #f25405;
$primaryContent: #202020;
$lightContent: #a0a4a3;
$primaryBG: #fff;
$darkBG: #6d7170;
$lightBG: #e6e6e6;
