html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, .fullScreenBlock, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, .itemList__linkFull, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, .fullScreenBlock, q {
  quotes: none; }

blockquote:before, .fullScreenBlock:before, blockquote:after,
.fullScreenBlock:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack/eot/latin/hack-regular-latin-webfont.eot?v=2.010");
  src: url("../fonts/hack/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.010") format("embedded-opentype"), url("../fonts/hack/woff2/latin/hack-regular-latin-webfont.woff2?v=2.010") format("woff2"), url("../fonts/hack/woff/latin/hack-regular-latin-webfont.woff?v=2.010") format("woff"), url("../fonts/hack/ttf/latin/hack-regular-latin-webfont.ttf?v=2.010") format("truetype"), url("../fonts/hack/svg/latin/hack-regular-latin-webfont.svg?v=2.010#hackregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack/eot/latin/hack-bold-latin-webfont.eot?v=2.010");
  src: url("../fonts/hack/eot/latin/hack-bold-latin-webfont.eot?#iefix&v=2.010") format("embedded-opentype"), url("../fonts/hack/woff2/latin/hack-bold-latin-webfont.woff2?v=2.010") format("woff2"), url("../fonts/hack/woff/latin/hack-bold-latin-webfont.woff?v=2.010") format("woff"), url("../fonts/hack/ttf/latin/hack-bold-latin-webfont.ttf?v=2.010") format("truetype"), url("../fonts/hack/svg/latin/hack-bold-latin-webfont.svg?v=2.010#hackbold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack/eot/latin/hack-regularoblique-latin-webfont.eot?v=2.010");
  src: url("../fonts/hack/eot/latin/hack-regularoblique-latin-webfont.eot?#iefix&v=2.010") format("embedded-opentype"), url("../fonts/hack/woff2/latin/hack-regularoblique-latin-webfont.woff2?v=2.010") format("woff2"), url("../fonts/hack/woff/latin/hack-regularoblique-latin-webfont.woff?v=2.010") format("woff"), url("../fonts/hack/ttf/latin/hack-regularoblique-latin-webfont.ttf?v=2.010") format("truetype"), url("../fonts/hack/svg/latin/hack-regularoblique-latin-webfont.svg?v=2.010#hackoblique") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Hack';
  src: url("../fonts/hack/eot/latin/hack-boldoblique-latin-webfont.eot?v=2.010");
  src: url("../fonts/hack/eot/latin/hack-boldoblique-latin-webfont.eot?#iefix&v=2.010") format("embedded-opentype"), url("../fonts/hack/woff2/latin/hack-boldoblique-latin-webfont.woff2?v=2.010") format("woff2"), url("../fonts/hack/woff/latin/hack-boldoblique-latin-webfont.woff?v=2.010") format("woff"), url("../fonts/hack/ttf/latin/hack-boldoblique-latin-webfont.ttf?v=2.010") format("truetype"), url("../fonts/hack/svg/latin/hack-boldoblique-latin-webfont.svg?v=2.010#hackboldoblique") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'NeueHaas';
  src: url("../fonts/neuehaas/2E0CC6_0_0.eot");
  src: url("../fonts/neuehaas/2E0CC6_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaas/2E0CC6_0_0.woff2") format("woff2"), url("../fonts/neuehaas/2E0CC6_0_0.woff") format("woff"), url("../fonts/neuehaas/2E0CC6_0_0.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'NeueHaas';
  src: url("../fonts/neuehaas/2E0CC6_1_0.eot");
  src: url("../fonts/neuehaas/2E0CC6_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaas/2E0CC6_1_0.woff2") format("woff2"), url("../fonts/neuehaas/2E0CC6_1_0.woff") format("woff"), url("../fonts/neuehaas/2E0CC6_1_0.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'NeueHaas';
  src: url("../fonts/neuehaas/2E0CC6_2_0.eot");
  src: url("../fonts/neuehaas/2E0CC6_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaas/2E0CC6_2_0.woff2") format("woff2"), url("../fonts/neuehaas/2E0CC6_2_0.woff") format("woff"), url("../fonts/neuehaas/2E0CC6_2_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'NeueHaas';
  src: url("../fonts/neuehaas/2E0CC6_3_0.eot");
  src: url("../fonts/neuehaas/2E0CC6_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/neuehaas/2E0CC6_3_0.woff2") format("woff2"), url("../fonts/neuehaas/2E0CC6_3_0.woff") format("woff"), url("../fonts/neuehaas/2E0CC6_3_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  font-size: 16px;
  color: #000;
  line-height: 1.25; }
  @media screen and (min-width: 500px) {
    body {
      line-height: 1.375; } }

h1,
h2,
blockquote, .fullScreenBlock {
  font-weight: 900; }

h1 {
  font-size: 2rem;
  line-height: 1.25; }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 2.5rem;
      line-height: 1.125; } }
  @media screen and (min-width: 850px) {
    h1 {
      font-size: 3rem;
      line-height: 1.05; } }

h2 {
  font-size: 1.625rem;
  line-height: 1.15384615; }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 2rem;
      line-height: 1.25; } }
  @media screen and (min-width: 850px) {
    h2 {
      font-size: 2.25rem; } }

h3 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.13636364; }
  @media screen and (min-width: 640px) {
    h3 {
      font-size: 1.5rem;
      line-height: 1.25; } }
  @media screen and (min-width: 850px) {
    h3 {
      font-size: 1.75rem; } }

small,
.itemList__linkFull,
figcaption {
  font-size: .85rem; }

blockquote, .fullScreenBlock {
  font-size: 1.25rem;
  line-height: 1.25; }
  @media screen and (min-width: 640px) {
    blockquote, .fullScreenBlock {
      font-size: 1.5rem;
      line-height: 1.45833; } }

a {
  display: inline-block;
  font-weight: 500;
  color: #f25405;
  text-decoration: none; }
  a:hover {
    -webkit-transform: translateY(-1px) translateX(-1px);
            transform: translateY(-1px) translateX(-1px); }

.u-center {
  margin-right: auto;
  margin-left: auto; }

.u-centerChildren {
  text-align: center; }

.u-blockLink {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-indent: 200%;
  white-space: nowrap;
  opacity: 0; }

.u-chunk {
  position: relative; }

.u-chunk::before {
  content: "";
  position: absolute;
  top: 6px;
  left: calc(-5% * 1.11111);
  display: block;
  width: 5%;
  border-top: 6px solid #000; }

.frame {
  margin: 0 5%; }

.frame:after {
  content: "";
  clear: both;
  display: table; }

[class*='bit-'] {
  float: right;
  padding: 0 1rem; }

[class*="--noPad"] {
  padding: 0; }

[class*="--center"] {
  float: none;
  margin: 0 auto; }

.bit-1 {
  width: calc(100% / 10 * 1); }

.bit-2 {
  width: calc(100% / 10 * 2); }

.bit-3 {
  width: calc(100% / 10 * 3); }

.bit-4 {
  width: calc(100% / 10 * 4); }

.bit-5 {
  width: calc(100% / 10 * 5); }

.bit-6 {
  width: calc(100% / 10 * 6); }

.bit-7 {
  width: calc(100% / 10 * 7); }

.bit-8 {
  width: calc(100% / 10 * 8); }

.bit-9 {
  width: calc(100% / 10 * 9); }

.bit-10 {
  width: 100%; }

.bit--tile {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.article__paragraph:not(:last-child) {
  margin-bottom: 1.5em; }

.fullScreenBlock {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(90% * .8);
  height: 70vh;
  padding: 15%;
  font-weight: 400;
  color: #fff;
  background-color: #000; }
  @media screen and (min-width: 500px) {
    .fullScreenBlock {
      width: calc(90% * .7);
      padding: 10%; } }

.fullScreenBlock__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh; }

.itemList {
  position: relative; }
  .itemList__name {
    margin-bottom: 3rem;
    padding-left: 5%;
    line-height: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 500px) {
      .itemList__name {
        padding-left: 15%; } }
    @media screen and (min-width: 640px) {
      .itemList__name {
        position: absolute;
        top: 0;
        left: 15%;
        padding-left: 0;
        line-height: .75;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); } }

.itemList__item {
  padding: 1rem;
  background: #fff; }
  .itemList__item:first-of-type {
    padding-top: 0; }
  .itemList__item__title {
    color: #f25405;
    text-transform: capitalize; }
  .itemList__item__subtitle {
    margin-bottom: .75em;
    font-weight: 500;
    color: #a0a4a3; }

.itemList__linkFull {
  padding: .5rem;
  text-align: right;
  border-top: 3px solid #000; }

.itemList__tile {
  position: relative;
  margin-bottom: 3rem;
  transition: all 0.2s ease-in-out; }
  .itemList__tile::after {
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><defs><pattern id='pinstripe' patternUnits='userSpaceOnUse' patternTransform='rotate(45)' width='9' height='9'><line x1='4.5' y='0' x2='4.5' y2='9' stroke='rgba(0, 0, 0, 0.105)' stroke-width='3' /></pattern></defs><rect width='100%' height='100%' fill='url(%23pinstripe)' /></svg>");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out; }
  .itemList__tile:hover {
    color: #f25405;
    -webkit-transform: translateX(-5px) translateY(-5px);
            transform: translateX(-5px) translateY(-5px);
    transition: all 0.2s ease-in-out; }
  .itemList__tile:hover::after {
    -webkit-transform: translateX(5px) translateY(5px);
            transform: translateX(5px) translateY(5px);
    transition: all 0.2s ease-in-out; }

/*# sourceMappingURL=application.css.map */