@charset "UTF-8";



//=================================================================
//  BASE
//=================================================================

body {
  font-family: "Hack", monospace;
  color: $primaryContent;
  background-color: $lightBG;
}
