@charset "UTF-8";



//=================================================================
//  BASE ELEMENTS
//=================================================================

// scss-lint:disable BemDepth
// scss-lint:disable ColorKeyword

.lib__section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $primaryBG;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.lib__section__headline {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: $lightContent;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $lightBG;
}

.lib__element {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.lib__element__name {
  font-family: "Hack", monospace;
  font-weight: bold;
  color: firebrick;
}

//=================================================================
//  SPECIAL ELEMENTS
//=================================================================

//-----------------------------------------------------------------
// Layout Element Visualisation

.lib__element--layoutBlock {
  padding: 2rem;
  color: $primaryBG;
  background-color: darkgrey;
}

//-----------------------------------------------------------------
// Color Swatches

.lib__element--colorSwatch {
  display: inline-block;
  width: 20%;
  height: 150px;
  margin-left: 10%;
  padding: .5rem;
  font-family: monospace;
  font-weight: bold;
  border: 10px solid rgba(255, 255, 255, .4);
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);

  &--primaryLink {
    color: $primaryBG;
    background-color: $primaryLink;
  }

  &--primaryContent {
    color: $primaryBG;
    background-color: $primaryContent;
  }

  &--primaryBG {
    background-color: $primaryBG;
  }

  &--darkBG {
    color: $primaryBG;
    background-color: $darkBG;
  }

  &--lightBG {
    background-color: $lightBG;
  }

  &--lightContent {
    background-color: $lightContent;
  }
}

//-----------------------------------------------------------------
// Type Elements

.lib__element--type,
.lib__element__module {
  font-family: "NeueHaas", sans-serif;
  color: $primaryContent;
}
