@charset "UTF-8";



//=================================================================
//  GRID OVERLAY
//=================================================================

// scss-lint:disable Comment
.gridTest {
  position: fixed;
  top: 0;
  /* display: none; */
  z-index: 100;
  width: 100%;
  pointer-events: none;
}

.gridTest__col {
  height: 100vh;
  border: 1px solid rgba(#f0f, .1);

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(#ffa500, .1);
  }
}

[class*="col"] {
  &[class*="--visSmall"],
  &[class*="--visMedium"],
  &[class*="--visLarge"] {
    display: none;
  }

  @include respond-to("small") {
    &[class*="--visSmall"] {
      display: inherit;
    }
  }

  @include respond-to("large") {
    &[class*="--visLarge"] {
      display: inherit;
    }
  }
}
