@charset "UTF-8";



//=================================================================
//  GRID OVERLAY
//=================================================================

.gridTest {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 5%;
	display: block;
	display: none;
}

.gridTest__col {
	position: relative;
	display: inline-block;
	width: 10%;
	height: 99.999vh;
	border: 1px solid tomato;
	background-color: rgba(255,0,0,.1);
}
