@charset "UTF-8";



//=================================================================
//  GRID OVERLAY
//=================================================================

// scss-lint:disable Comment
.gridTest {
  position: fixed;
  top: 0;
  /* display: none; */
  z-index: 100;
  width: 100%;
  pointer-events: none;
}

.gridTest__col {
  height: 100vh;
  border: 1px solid rgba(#f0f, .1);

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(#ffa500, .1);
  }
}

// Shows correct grid on small screens
@media screen and (max-width: 500px) {
  .gridTest__col:nth-child(2) {
    width: 10%;
  }

  .gridTest__col:nth-child(1n + 3) {
    display: none;
  }
}
