@charset "UTF-8";



//=================================================================
//  GRID SYSTEM
//=================================================================

.frame {
  margin: 0 5%;
}

.frame:after {
  content: "";
  clear: both;
  display: table;
}

[class*='bit-'] {
  float: right;
  padding: 0 ($basePadding * .5);

  @include respond-to("medium") {
    padding: 0 $basePadding;
  };

  &[class*="--noPad"] {
    padding: 0;
  }

  &[class*="--center"] {
    float: none;
    margin: 0 auto;
  }

  &[class*="--tile"] {
    padding-top: ($basePadding * .5);
    padding-bottom: ($basePadding * .5);

    @include respond-to("medium") {
      padding-top: $basePadding;
      padding-bottom: $basePadding;
    };
  }
}

// Collapsed columns for small screens
.bit-1,
.bit-2,
.bit-3,
.bit-4,
.bit-5,
.bit-6,
.bit-7,
.bit-8 {
  width: calc(100% / 10 * 9);
}

.bit-9,
.bit-10 {
  width: 100%;
}

@include respond-to("small") {
  .bit-1  {width: calc(100% / 10 * 1);}
  .bit-2  {width: calc(100% / 10 * 2);}
  .bit-3  {width: calc(100% / 10 * 3);}
  .bit-4  {width: calc(100% / 10 * 4);}
  .bit-5  {width: calc(100% / 10 * 5);}
  .bit-6  {width: calc(100% / 10 * 6);}
  .bit-7  {width: calc(100% / 10 * 7);}
  .bit-8  {width: calc(100% / 10 * 8);}
  .bit-9  {width: calc(100% / 10 * 9);}
  .bit-10 {width: 100%;}
};
